<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SineAndSoul.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <SineAndSoul.Properties.Settings>
            <setting name="ImportDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="ImportDecimalMark" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Latency" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FrequenciesPerLine" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="BaseNote" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="BaseOctave" serializeAs="String">
                <value>0</value>
            </setting>
        </SineAndSoul.Properties.Settings>
    </userSettings>
</configuration>
